th {
  border-bottom: 1px solid black;
}

thead {
  background-color: bisque;
}

tbody {
  background-color: violet;
}

.activity-list {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
}
