main {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  min-height: 1vh;
}

form {
  background-color: #512f41;
  padding: 50px;
  border: 1px solid wheat;
  width: 300px;
  justify-content: center;
  border-radius: 15%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.botao {
  background-color: #ddb1f3;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ddb1f3, endColorstr=#4a77d4, GradientType=0);
  border: 1px solid #3762bc;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.5);
  display: absolute;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  border-radius: 10px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  color: black;
  *margin-left: 0.3em;
}

.botao:hover {
  text-decoration: none;
  background-color: #daa3f5;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.2s linear;
  -moz-transition: background-position 0.2s linear;
  -ms-transition: background-position 0.2s linear;
  -o-transition: background-position 0.2s linear;
  transition: background-position 0.2s linear;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.activity-manager {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
}
