html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  margin: auto;
  padding: 0;
  background: #092756;
  background: -moz-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%),
    -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%),
    -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -o-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%),
    -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -ms-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%),
    -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    linear-gradient(to bottom, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%),
    linear-gradient(135deg, #670d10 0%, #092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

header {
  background: #092756;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

header a {
  margin-right: 30px;
  text-decoration: none;
  font-size: x-large;
  text-align: center;
  color: black;
}

.button {
  text-decoration: none;
  background-color: #ddb1f3;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 40px;
  display: table-cell;
  letter-spacing: 3px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  background-size: cover;
  width: 100px;
  height: 10%;
  color: inherit;
  text-decoration: none;
  border: 1px solid #ad0cfd;
  border-radius: 100px;
  transition: color 0.15s ease, border-color 0.15s ease, 0.15s;
}

.button:hover {
  transition: color 0.15s ease, border-color 0.15s ease, width 0.25s;
  background-color: #d595f5;
  width: 110px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
